@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap')


* {
    margin: 0;
    padding: 0;
    font-family: "Bebas Neue", sans-serif;
}

body {
    height: 100vh;
    background-image: url(https://img.freepik.com/free-photo/portrait-asian-person-with-pixel-art-effect_23-2150637655.jpg?w=740&t=st=1708430855~exp=1708431455~hmac=e47af50a5cec53c9c6620eafe8a417b125d080fdc54c0a608f2abf74875c5614);
    display: flex;
    align-items: center;
    justify-content: center;
}

.relogio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 550px;
    background: transparent;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5)
}

.relogio div {
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: rgba(5, 5, 5, .9);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
    border-radius: 7px;
    letter-spacing: 3px;
    border: 5px solid #275DAD;
}

.relogio span {
    font-weight: bolder;
    font-size: 60px;
}

.relogio span.tempo {
    font-size: 15px;
}
